body
{
    background-image: url(../images/background-10.jpg);
    margin: 0px;
    padding: 10px;
}
h1
{
    font-family: cursive;
    text-align: center;
    font-size: 2em;
    background-color: bisque;
    padding: 5px;
    margin-bottom: 20px
}
h2
{
    color: red;
    background-color: azure;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px
}
h3 
{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 20px
}
p
{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

#contact 
{
    color: red;
    font-size: 14px;
    font-style: italic;
    font-family: sans-serif;
}
#email 
{
    text-decoration-line: underline;
}
img
{
    display: block;
    margin: auto;
}
.details 
{
    background-color: darkgoldenrod;
    margin-left: 20px;
    margin-right: 20px;
}
/*ovim preklapamo default podesavanja user agent stylesheet*/
a:-webkit-any-link {
    color: yellow;
    cursor: auto;
    text-decoration: underline;
} 

a:link
{
    font-size: 1.3em;
    text-decoration-line: none;
    border-style: solid;
    /*donja linija koda se izvrši ali samo 5px dotted*/
    /*ako smo uveli reset.css onda je jedini nacin da definisemo
      border*/
    border: 5px dotted yellow;
    padding: 10px;
    position: absolute;
    top: 72px;
    right: 10px;
}
a:hover
{
    color: darkred;
    /*ako je uveden reset.css onda moramo da uvedemo donji red za 
      prikaz hover elementa */
    border: 3px solid darkred; 
}

